.container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 10px 0px;
}
.header__top {
  padding-top: 29px;
  padding-left: 20px;
  padding-bottom: 80px;
}
.header {
  height: 100vh;
  position: relative;
  z-index: 25;
}
.menu__list {
  display: flex;
  align-items: center;
}
.header__img-logo {
  position: absolute;
  top: 0px;
  z-index: -25;
}

.menu__list-item {
  margin-right: 36px;
}
.menu__list-link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1c252b;
}
.header__content {
  margin-left: 20px;
}
.header__text-title {
  width: 414px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #1c252b;
  margin-bottom: 24px;
}
.header__text-description {
  width: 488px;
  margin-left: 27px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #3a4d57;
  margin-bottom: 35px;
}
.header__inner .menu__text {
  display: flex;
  margin-left: 20px;
}
.menu__text-item {
  margin-right: 50px;
}
.menu__text-item:last-child {
  margin-right: 0px;
}
.header__inner {
  display: flex;
}
.header__content {
  display: flex;
}
.header__img {
  position: relative;
}
.header__img-phone {
  position: absolute;
  top: -131px;
  left: 180px;
}
.header__img-last {
  position: absolute;
  top: 0px;
  right: 87px;
}
.header__img-gb {
  position: absolute;
  top: 270px;
  right: 497px;
}
.header__img-russia {
  position: absolute;
  top: 116px;
  left: 90px;
}
.header__img-ellipse {
  margin-top: -115px;
}
.content {
  background-image: url("../img/content.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 188px;
  height: 726px;
}
.content__text {
  width: 347px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1c252b;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(63, 146, 209, 0.12);
  border-radius: 47px;
  padding: 38px 36px 22px 40px;
  margin-left: 24px;
  position: relative;
}
.content__text-img {
  position: absolute;
  bottom: -254px;
}
.content__description {
  width: 349px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #3a4d57;
  padding: 31px 36px 46px 42px;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(63, 146, 209, 0.12);
  border-radius: 47px;
  margin-left: 670px;
  margin-top: -115px;
  position: relative;
}
.content__description-img {
  position: absolute;
  bottom: -301px;
  right: 555px;
}
